{{ define "main" }}

<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Hello there!</h1>

      <div align="center">
	      <p>I'm Georgi Bojinov, and you've chanced upon my braindump.</p>
	      <p>This website contains my working notes accumulated over some years.</p>
	      <p>They're in a really messy transition state: most of them are literature notes, and there are</p>
	      <p>close to no conceptual notes, which I intend to start taking soon.</p>

	      <p>I also haven't made good entry-points to my brain yet, but you can start hopping
	      around by going to the</p> 
	      <a class="read-more button" href="/timeline">Notes → </a>

	Have fun!</p>
      </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
